@model Decaf.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="/decafIcon.png" id="icon" alt="User Icon" />
        </div><br>
        <h2>@ViewBag.Title</h2>
        <h4>Enter your email.</h4>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <hr />
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })<br>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            <input type="submit" value="Email Link" class="fadeIn fourth" />
            <p>
                @Html.ActionLink("Back to Login Page", "Login")
            </p>
        }
        <div id="formFooter">
            <p>&copy; @DateTime.Now.Year - Decaf IT Solutions</p>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
